<div class="gallery-container">
  <div class="tag-controls">
    <h1 class="retro-title">2BitPrints</h1>
    <div class="tag-list">
      <button 
        *ngFor="let tag of filterTags" 
        class="tag-button" 
        [class.active]="selectedTag === tag"
        (click)="onTagSelect(tag)">
        {{ tag }}
      </button>
    </div>
    <button 
      class="clear-filter" 
      *ngIf="isFiltering" 
      (click)="clearFilter()">
      Clear Filter
    </button>
  </div>
  <!-- The Three.js canvas will be inserted here -->
</div>
