<div class="home-container">
  <div
    class="controls-container"
    [style.transform]="
      'perspective(1000px) rotateX(' + rotationX + 'deg) rotateY(' + rotationY + 'deg)'
    "
  >
    <div class="content-controls">
      <div class="title-row">
        <app-logo></app-logo>
        <a class="retro-title" [style.color]="titleColor" target="_blank" (click)="$event.stopPropagation()"
          href="mailto:2bitprints@gmail.com?subject=Request for 3d print quote&body=Details:%0AMaterial:%0AColors:%0AZip Code:%0A"
        >
          <div>2BitPrints</div>
          <div style="font-size: 16px;">&lt;contact&gt;</div>
        </a>
        <div class="nav-links">
          <a
            class="nav-link"
            [style.color]="titleColor"
            routerLink="/gallery"
            title="Gallery"
          >
            [gallery]
          </a>
          <!-- <a
            class="nav-link"
            [style.color]="titleColor"
            routerLink="/trek"
            title="LCARS Name Renderer"
          >
            [trek]
          </a> -->
          <!-- <a
            class="contact-text"
            [style.color]="titleColor"
            href="mailto:2bitprints@gmail.com?subject=Request for 3d print quote&body=Details:%0AMaterial:%0AColors:%0AZip Code:%0A"
            target="_blank"
            (click)="$event.stopPropagation()"
          >
            [contact]
          </a> -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- 3D Text Editor -->
  <app-text-editor></app-text-editor>
</div>
